.notes-container {
    display: flex;
    flex-direction: column;
}

.notes-entry {
    display: flex;
    border-bottom: 1px dotted black;
}

.first-container, .second-container {
    width: 50%;
}

.first-container {
    border-right: 1px dotted black;
}

.entry {
    margin: 10px 20px;
}

.notes-title {
    margin-top: 20px;
}