.notes-container {
    display: flex;
    flex-wrap: wrap;

}

.notes-entry {
    width: 49.96%;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

.last {
    border-right: none;
}

.entry {
    margin: 10px 20px;
}

.notes-title {
    margin-top: 20px;
}